<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/darwinist.css" />
  <style>
    
    @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

    .titled {
      font-family: 'Merriweather', serif !important;
      font-size: 58px !important;
      font-weight: 400 !important;
      line-height: 64px !important;
    }

    .subtitled {
      font-family: 'Merriweather', serif !important;
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 36px !important;
    }
    #colored-dna-back {
      background: url(../images/colored-dna.svg);
      background-position: center;
      background-size: cover;
    }

    .is-horizontal-center {
      justify-content: center;
    }
  </style>
</head>

<body>
  <!-- NavBar va a todo lo ancho -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
    </div>

    <div class="navbar-menu">

      <div class="navbar-end">
        <a class="navbar-item">
          WHY?
        </a>

        <a class="navbar-item">
          BUY
        </a>

        <a class="navbar-item">
          ILLUSTRATION SERIES
        </a>

        <a class="navbar-item">
          EXCLUSIVE ILLUSTRATIONS
        </a>

      </div>
    </div>
  </nav>

  <!-- Hero del producto -->
  <section id="colored-dna-back" class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div class="column
          is-10-mobile 
          is-10-tablet 
          is-5-desktop
          is-5-widescreen 
          is-5-fullhd">
            <h1 class="title titled is-1 mb-6 has-text-white">
              Evolving business with technology
            </h1>
            <div class="buttons">
              <button class="button is-primary">Esablished technical teams</button>
              <button class="button">Less-technical teams</button>
            </div>
          </div>
          <div class="column
          is-10-mobile 
          is-10-tablet 
          is-6-desktop 
          is-6-widescreen 
          is-6-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="../images/people-building-a-site.svg">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body">
      <div class="container is-vcentered">
        <div class="box">
          <div class="columns is-centered">
            <div class="column is-1"></div>
            <div class="column is-3">
              <figure class="image is-256x256">
                <img src="../images/woman-and-book.svg">
              </figure>
              <h2>
                We design limited scope, technology centric 
                transformations that can be delivered within days.
              </h2>
            </div>
          <div class="column is-1"></div>
            <div class="column is-3">
              <figure class="image is-256x256">
                <img src="../images/people-building-a-puzzle.svg">
              </figure>
              <h2>
                We coach agile from first principles - 
                the Agile Manifesto
              </h2>
            </div>
            <div class="column is-1"></div>
            <div class="column is-3">
              <figure class="image is-256x256 is-centered">
                <img src="../images/people-at-a-meeting.svg">
              </figure>
              <h2>
                Short-term, high impact 
                technology adoption programs
              </h2>
            </div>
            <div class="column is-1"></div>
          </div>
        </div>
      </div>
    </div>  
  </section>

      <section class="hero is-fullheight" id=background>
        <div class="columns is-vcentered">
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="image is-square">
              <img src="../images/undraw_Camera_re_cnp4.svg">
            </figure>
          </div>
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6">
              absurd illustrations that make sense
            </h1>
            <h2 class="subtitled subtitle">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
              nesciunt totam magni quas.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-white is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div class="box">
            <div class="column
            is-10-mobile is-offset-1-mobile
            is-10-tablet is-offset-1-tablet
            is-5-desktop is-offset-1-desktop
            is-5-widescreen is-offset-1-widescreen
            is-5-fullhd is-offset-1-fullhd">
          </div>
            <h1 class="title titled is-1 mb-6">
              absurd illustrations that make sense
            </h1>
            <h2 class="subtitle subtitled">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
              nesciunt totam magni quas.
            </h2>
          </div>
          <div class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" >
            <figure class="image is-square">
              <img src="../images/undraw_Camera_re_cnp4.svg">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-text-centered">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-8">
            <h1 class="title titled is-1 mb-6">
              Primary bold title <span id="typewriter"></span>
            </h1>
            <h2 class="subtitle subtitled">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum cupiditate dolorum vitae dolores
              nesciunt totam magni quas.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            </h2>
          </div>
        </div>

      </div>
    </div>
  </section>
</body>

</html>